

body {
    font-family: 'Lucida Console', sans-serif;
    background: darkolivegreen;
    color: white;
    text-align = center;

}

.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.button:hover {
    background-color: rgb(13, 66, 6);
}


#g1, #g2 {
    width: 270px;
    height: 216px;
    display: inline-block;
    margin: 1em;      
}
